@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*================================== navbar ============================= */
.navbar {
    background-color: black;
    color: white;
    
}

.navbar-brand {
    color: white;
    font-family: "Dancing Script", cursive;
   
}
.navbar-brand h2{
        color: white;
}
.navbar-brand :hover {
    color: white;
   
    
}


span {
    color: rgb(236, 83, 83);
    cursor: pointer;
}

.nav-item  {
    padding: 30px;
    text-decoration: none;
}

.nav-link  {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    
}

.nav-link:hover {
    color: rgb(236, 83, 83);
    
}

.d-flex {
    color: rgb(236, 83, 83);
}

/* ===========================main====================== */
.main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(./images/maiGgym.jpg) no-repeat;
    background-size: cover;
    height: 110vh;
}

.main h1 {
    font-size: 5rem;
    font-weight: 800;
}

.btn1 {
    height: 55px;
    width: 140px;
    color: white;
    border: none;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    transition: 1s;
}

.btn1:hover {
    background: linear-gradient(90deg, #dba11a 0%, #f5634b 100%);
    transition: all 1s;
}

@media screen and (max-width:525px) {
    .main h1 {
        font-size: 3rem;
        font-weight: 500;
    }
    .btn1 {
        height: 45px;
        width: 80px;
        
    }

  }
/* ====================================== details ========================= */
.details {
    margin-top: -100px;
   
}

.details h5 {
    font-size: 1.5rem;
    font-weight: 700;
}

.details a {
    text-decoration: none;

    color: rgb(236, 83, 83);
}

.back:hover {
    color: white;
    cursor: pointer;
}

.back {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.8s;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.back::before {
    content: "";
    position: absolute;
    height: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #dba11a 0%, #f5634b 100%);
    z-index: -1;
    transition: all 0.5s;
}

.back:hover::before {
    height: 100%;
}
.back:hover a{
    color: white;
}

/* ================================= more sections ========================= */

.more h2{
    font-weight: 800;
}
.more p{
    font-weight: lighter;
}
p{
    font-size: 1.1rem;
}

/* ====================================== discover ================================ */
.discover{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/womengym3.jpg) no-repeat;
background-size: cover;
width: 100%;

}
.discover h1{
    font-weight: 700;
    font-size: 2.8rem;
}

@media screen and (max-width:525px) {
   
    .btn1 {
        font-size: 12px;
        
    }

  }
.services h1{
    font-weight: 800;
    font-size: 2.8rem;
}

.icons{
    font-size: 2.5rem;
}
.back:hover  .icons{
    color: white;
}

.course{
    font-weight: 800;
    font-size: 2.8rem;
}
.course .card{
    border: none;
}

.btn2 {
    height: auto;
    width: 100%;
    color: white;
    border: none;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    transition: 1s;
}

.btn2:hover {
    background: linear-gradient(90deg, #dba11a 0%, #f5634b 100%);
    transition: all 1s;
}

@media screen and (max-width:525px) {
   
    .btn2 {
        font-size: 30px;
        
    }

  }

/* ========================= footer ====================== */
.footer{
    background-color: black;
    color: white;
    padding: 10px;
}
.footer h3:hover{
    cursor: pointer;
    color:rgb(236, 83, 83);
}






